[build] 
publish = "." 
 
[[redirects]] 
from = "/api/*" 
to = "https://emotion-blind-box-api.onrender.com/:splat" 
status = 200 
force = true 
 
[[redirects]] 
from = "/*" 
to = "/index.html" 
status = 200 
